body{
    background-image: url(https://media.istockphoto.com/vectors/smooth-blurred-gradient-insta-background-wallpaper-style-scalable-vector-id1249702917?k=20&m=1249702917&s=612x612&w=0&h=V8hj84Og_mgIB_ALQv_ZGWupITp6ZdlZYTJNmQx0vgw=);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
td{
    padding-left: 10px;
    padding-right: 5px;
}

.navbar{
    padding: 0 250px 0 250px;
    
}
.nav-item{
    color: white;
}
.navbar-brand{
    padding: 0;
    margin: 0;
}
.collapse{
    padding-left: 175px;
}
.profile{
    border-radius: 50%;
}
.profile-image{
    margin-top: 25px;
    margin-left: 250px;
    border-radius: 50%;
}
.row_1{
    display: flex;
}
.column_1{
    flex: 50%;
}
.row{
    padding-bottom: 25px;
    display: flex;
}
.column{
    flex: 33.33%;
}
.name{
    padding-top: 25px;
}

.container-image{
    position: relative;
    width: 50%;
  }
  
  .image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-image:hover .image {
    opacity: 0.3;
  }
  
  .container-image:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    padding: 16px 0 16px 175px;
  }
  .fa:hover{
    color: #ff6666;
  }

  .upper:hover{
    width: 20px;
    height: 20px;
  }